@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid{
    padding: 0px;
}

//Medias
@media(min-width:769px){
    .sidebar-container{
        display: none;
    }
}

//navbar
.icon-menu{
    z-index: 99;
    margin: 0px 10px 0px 30px;
    padding-top: 10px;
   
    .logo-bars{
        cursor: pointer;
        width: 50px;
    
    }
}

.active{
    transform: translateX(-700px);


}
.sidebar{
    transition: all 0.3s ;
    top: 0;
    left: 0;
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50%;
    height:100vh;    
    background-color: rgba(0,0,0,.85);
    z-index: 100;
    .menu{
    margin-top: 30%;
    height: 100vh;
    .links-container{
        list-style: none;
        .dashboar:hover{
            background-color: #eb248c;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            transition: all 0.5s ease
        }
        .nav-link{
            color: #fff;
            text-decoration: none;
            padding: 10px;
            }
        }
    }

}

.navbar{
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    z-index: 1;
    height: 15%;
    .img-container{
        width: 100px;
    }
    .links-container{
        width: 40%;
        margin-top:15px;
        .nav-links{
            color: #fff;
            text-decoration: none;
            padding: 10px;
            text-align: center;
            transition: all 0.5s ease-in-out;
        }
        .nav-links:hover{
            color: #eb248c;
        }
    }
}
//Header
.inicio{
    top: 0;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    .tittle{
        padding-left: 10%;
        padding-top:20%;
        font-size: 5.5em;
        text-shadow: 3px 3px 10px rgba(0, 0, 0,);
    }
}

//cards

.cards-container{
    width: 100%;
    height: 70vh;
    background-color: #fff;
}